<router-outlet></router-outlet>
<!-- 
<mat-card class="weather-card">
    <div class="country-select">
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select [(value)]="selectedCountry">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="header">
      <button mat-icon-button (click)="prevDay()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span>{{ day }}</span>
      <button mat-icon-button (click)="nextDay()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="weather-info">
      <div class="temperature">{{ temperature }}°</div>
      <div class="humidity">Humidity: {{ humidity }}%</div>
    </div>
  </mat-card>
   -->