.weather-card {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.country-select {
  width: 100%;
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.weather-info {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.humidity {
  margin-top: 10px;
  font-size: 16px;
}

.currentday {
  margin-top: 200px;
  margin-left: 200px;
  font-size: 16px;
}

button {
  color: white;
}

.navigation-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
